In [1]:
import psycopg2
import pandas as pd
from functions import *
import numpy as np

In [2]:
DB_SETTINGS = {
    "host": "localhost",
    "port": "5432",
    "database": "postgres",
    "user": "postgres",
    "password": "30486"
}

In [11]:
SQL_QUERY = "SELECT * FROM positions_201224 JOIN ztd_201224 ON positions_201224.time = ztd_201224.time;"

In [12]:
conn = psycopg2.connect(**DB_SETTINGS)

In [13]:
positions = fetch_data(conn, SQL_QUERY)

In [14]:
positions.head()

,GPS_week,time,latitude,longitude,hight,sol,n_sat,sdn,sde,sdu,...,sdun,age,ratio,info,GPS_week,time,sol,antenna,ztd,ztdf
0,2345,479342.000,44.399820444,8.937704556,108.9843,6,12,6.0676,4.0465,8.5452,...,-1.8080,0.00,0.0,$TROP,2345,479342.000,6,1,2.3649,0.1200
1,2345,479343.000,44.399821082,8.937705544,109.0857,6,12,4.3170,2.8806,6.1013,...,-1.3167,0.00,0.0,$TROP,2345,479343.000,6,1,2.3651,0.1200
2,2345,479344.000,44.399821365,8.937705814,108.9952,6,12,3.5322,2.3574,5.0009,...,-1.0851,0.00,0.0,$TROP,2345,479344.000,6,1,2.3651,0.1200
3,2345,479345.000,44.399820783,8.937705809,108.8486,6,12,3.0622,2.0439,4.3412,...,-0.9437,0.00,0.0,$TROP,2345,479345.000,6,1,2.3651,0.1199
4,2345,479346.000,44.399820668,8.937705712,108.8824,6,12,2.7407,1.8294,3.8897,...,-0.8459,0.00,0.0,$TROP,2345,479346.000,6,1,2.3652,0.1199

In [25]:
positions.describe()

                zhd          zwd
count  8.891000e+03  8891.000000
mean   2.271394e+00     0.124895
std    4.738949e-07     0.136003
min    2.271391e+00    -0.018994
25%    2.271394e+00     0.057806
50%    2.271394e+00     0.079406
75%    2.271394e+00     0.097206
max    2.271394e+00     0.526006