In [37]:
import psycopg2
import pandas as pd
from functions import *
import numpy as np

In [38]:
DB_SETTINGS = {
    "host": "localhost",
    "port": "5432",
    "database": "postgres",
    "user": "postgres",
    "password": "30486"
}

In [46]:
SQL_QUERY = "SELECT * FROM positions JOIN ztd ON positions.time = ztd.time;"

In [47]:
conn = psycopg2.connect(**DB_SETTINGS)

In [48]:
positions = fetch_data(conn, SQL_QUERY)

In [51]:
positions.head()

,GPS_week,time,latitude,longitude,hight,sol,n_sat,sdn,sde,sdu,...,sdun,age,ratio,info,GPS_week,time,sol,antenna,ztd,ztdf
0,2344,121856.000,44.399820127,8.937741187,117.2863,6,5,12.2353,13.9315,17.3567,...,9.5907,0.00,0.0,$TROP,2344,121856.000,6,1,2.3730,0.1200
1,2344,121857.000,44.399823714,8.937745492,117.5366,6,5,8.8909,10.1341,12.6471,...,7.0790,0.00,0.0,$TROP,2344,121857.000,6,1,2.3731,0.1200
2,2344,121858.000,44.399816532,8.937703290,112.9944,6,11,4.4834,4.7994,7.8604,...,2.9705,0.00,0.0,$TROP,2344,121858.000,6,1,2.3720,0.1200
3,2344,121859.000,44.399818475,8.937697215,112.0658,6,11,3.4333,3.6264,6.2665,...,2.1090,0.00,0.0,$TROP,2344,121859.000,6,1,2.3712,0.1200
4,2344,121860.000,44.399819277,8.937695700,111.6686,6,11,2.8908,3.0354,5.3712,...,1.7036,0.00,0.0,$TROP,2344,121860.000,6,1,2.3705,0.1200

In [52]:
zhd = zhd_cal(positions, 1000)

In [58]:
positions['zhd'] = zhd['zhd']

In [61]:
positions['zwd'] = positions['ztd'].astype(float) - positions['zhd']